*{
  margin: 0;
  padding: 0;
}
.App{
  background-color: #EDEFF3;
  font-family: Arial, Helvetica, sans-serif;
}
.Header{
  background-color: #fff;
  color: #121118;
}
.Footer{
  background-color: #121118;
  color: #fff;
  font-size: 16px !important;
  display: flex;
  justify-content: space-around;
}
.content{
  min-height: calc(100vh - 160px);
}
.Header, .Footer{
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 50px;
  box-sizing: border-box;
  font-size: 32px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}
.GoodList{
  padding: 0px 100px;
  padding-top: 20px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.GoodItem{
  width: 250px;
  height: 430px;
  box-sizing: border-box;
  background-color: #fff;
  font-weight: 300;
  box-shadow: 0 0 2px #121118;
  margin: 20px;
  position: relative;
}
.GoodItem img{
  width: 100%;
  height: auto;
}
.GoodItem_name{
  height: auto;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-content: space-between;
  justify-content: space-between;

}
.GoodItem_name div{
  padding: 10px;
  font-weight: 700;
}
.GoodItem_name div h3{
  font-size: 16px;
  line-height: 32px;
  line-height: 45px;
}
.GoodItem_name div p{
  font-size: 14px;
  font-weight: 500;
  text-align: start;
}
.GoodItem_buy{
  border-top: 1px solid #EDEFF3;
  padding: 5px 10px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  width: 100%;
  bottom: 0px;
  left: 0px;

}

.GoodItem_buy button{
  padding: 6px 12px;
  font-size: 14px;
  font-weight: 600;
  color: #fff;
  border: none;
  background-color:red;
}
button:hover{
  cursor: pointer;
}

/* <------Loader------> */
.Loader i{
   font-size: 54px;
   color: #121118;
   margin-left: calc(50% - 54px);
   margin-top: 30vh;
}
/* <---------Cart----------------> */
 .cart{
  width: 60px;
  height: 60px;
  background-color: #121118;
  position: fixed;
  top: 100px;
  right: 20px;
  color: #fff;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 10;
 }
 .cart i{
  font-size: 24px;
  display: block;
 }
 .cart span{
  font-size: 15px;
  margin-top: 10px;
 }
 .BasketList{
  width: 70%;
  height: auto;
  background: #fff;
  color: #fff;
  position: fixed;
  top: calc(50vh - 100px);
  left: 15%;
  box-shadow: 0px 0px  10px #121118;
  animation: show .5s ease-in-out;
 }
 .BasketList_header{
  display: flex;
  justify-content: space-between;
 }
 .BasketList_header i{
  color: #fff;
  font-size: 24px;
  cursor: pointer;
 }
 .BasketList_header, .BasketList_footer{
  width: 100%;
  height: 60px;
  font-size: 25px;
  background-color: #121118;
  color: #fff;
  padding: 0px 25px;
  padding-top: 15px;
  box-sizing: border-box;
 }
 .BasketList_body{
  border-bottom: 1px solid #999;
  width: 100%;
  height: 50px;
  padding: 0px 25px;
  box-sizing: border-box;
  line-height: 100%;
  background-color: #fff;
  color: #121118;
  display: flex;
  align-items: center;
  font-weight: 600;
  justify-content: space-between;
 }
 .BasketList_body i{
  cursor: pointer;
  color: red;
  margin-left: 50px;
 }
 .Basket-back{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,.5);
 }
 .BasketList_body button{
  width: 25px;
  height: 25px;
  box-sizing: border-box;
  background-color: #121118;
  color: #fff;
  border: none;
  margin: 0px 10px;
 }
 @keyframes show {
  from{top: calc(50vh - 100px); opacity: 0}
  to{top: calc(50vh - 100px); opacity: 1;}
}

@media only screen and (max-width:576px){
  .GoodList{
    padding: 0px !important;
    padding-top: 20px;
  }
  .BasketList{
    width: 90%;
    left: 5%;
  }
  .BasketList_header, .BasketList_footer{
    font-size: 18px;
  }
  .BasketList_body{
    flex-direction: column;
    height: 70px;
    justify-content: center;
  }
  .BasketList_body p{
    margin-bottom: 8px;
  }
  .BasketList_body i{
       margin-left: 10px;
  }
  .BasketList_body button{
    margin: 0px 5px;
  }
}